.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
  background-color: #f8f8f8;
  border-bottom: 1px solid hsla(186, 45%, 77%, 0.1);
  z-index: 99;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo h6 {
  font-family: var(--font-fonseca-medium);
  color: var(--dark-navy);
  font-size: 2rem;
  line-height: 3.75rem;
}