.sideMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  /* margin-top: 3.75rem; */
  background-color: var(--warm-beige-80);
  transform: translateX(-100%); /* Start hidden */
  transition: transform 0.3s ease-in-out; /* Smooth slide-in and slide-out */
}

.sideMenu.open {
  transform: translateX(0); /* Slide into view */
}

.sideMenu.closed {
  transform: translateX(-100%); /* Slide out of view */
}

.sideMenuContent {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.closeButton {
  align-self: flex-end;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.navLinks {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.navLinks a {
  text-decoration: none;
  color: var(--dark-navy);
  font-size: 2rem;
  margin-bottom: 1rem;
  transition: color 0.3s ease-in-out;
}

.navLinks a:hover {
  color: #0070f3;
}