.header {
  /* background: transparent;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 999;
  transition: all 500ms ease; */

  align-items: center;
    /* background: #fff; */
    border-bottom: 1px solid #667574;
    display: flex;
    height: 60px;
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    transition: opacity .25s linear;
    width: 100%;
    z-index: 99;
    padding: 0 20px;
}

.header:before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  content: "";
  background-color: rgba(255,255,255, 0.1);
  z-index: -1;
}

.header .btnMenu {
  display: inline-block;
  /* font-size: 20px; */
  color: var(--shapehr-base);
  cursor: pointer;
  transition: 500ms;

  background: transparent;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 17px;
  position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

}

.header .btnMenu:hover {
  color: var(--shapehr-base);
}




/* Icon */
/* .icon {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
} */

.icon span {
  position: absolute;
  display: block;
  left: 0;
  opacity: 1;
  height: 1.5px;
  width: 18px;
  background: #230F2C;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.icon span:nth-child(1) {
  top: 0px;
}

.icon span:nth-child(2),.icon span:nth-child(3) {
  top: 7px;
}

.icon span:nth-child(4) {
  top: 14px;
}

.icon.open span:nth-child(1) {
  top: 7px;
  width: 0%;
  left: 50%;
}

.icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.icon.open span:nth-child(4) {
  top: 7px;
  width: 0%;
  left: 50%;
}

.logo h6 {
  font-size: 1.7rem;
}

.btn {
  position: relative;
  display: inline-block;
  border: none;
  outline: 0;
  padding: 0;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .btn {
    display: inline-block;
  }
}

.btnS {
  position: absolute;
  top: 2.4rem;
  right: 5.8rem;
  width: 3.4rem;
  height: 3.4rem;
  margin-right: 2rem;
  /* font: normal  1rem/3.4rem "PT Mono", sans-serif; */
  font-size: 1rem;
  line-height: 3.4rem;
  color: #230F2C;
}

.btnS .iconPencil {
  display: inline-block;
}

.btnS .title {
  display: none;
  position: relative;
  font-size: 1rem;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09);
  transition: -webkit-transform 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09);
  -o-transition: transform 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09);
  -moz-transition: transform 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09), -moz-transform 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09);
  transition: transform 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09);
  transition: transform 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09), -webkit-transform 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09), -moz-transform 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09);
}

.btnS .hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  -webkit-transform: translateY(100%);
     -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09);
  transition: -webkit-transform 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09);
  -o-transition: transform 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09);
  -moz-transition: transform 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09), -moz-transform 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09);
  transition: transform 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09);
  transition: transform 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09), -webkit-transform 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09), -moz-transform 0.3s cubic-bezier(0.23, 0.65, 0.74, 1.09);
}

.btnS:hover .title {
  -webkit-transform: translateY(-100%);
     -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
.btnS:hover .hover {
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

@media only screen and (min-width: 768px) {
  .btnS {
    margin-right: 3.4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .btnS {
    width: auto;
    position: absolute;
    top: 2.3rem;
    right: 8.4rem;
  }
  .btnS .iconPencil {
    display: none;
  }
  .btnS .title {
    display: block;
  }
  .btnS .hover {
    display: block;
  }
}
@media only screen and (min-width: 1400px) {
  .btnS {
    position: absolute;
    /* top: 2.8rem;
    right: 10.4rem; */
    top: 2px;
    right: 34px;
  }
}







/* .logo h6 {

  font-family: neon;
  color: #FB4264;
  font-size: 30px;
  line-height: 30px;
  text-shadow: 0 0 9vw #F40A35;

}

.logo h6{
  animation: flux 4s linear infinite;
  -moz-animation: flux 4s linear infinite;
  -webkit-animation: flux 4s linear infinite;
  -o-animation: flux 4s linear infinite;
} */

/* @keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 1vw #1041FF, 0 0 2vw #1041FF, 0 0 2vw #1041FF, 0 0 .4vw #8BFDFE, .2vw .2vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 2vw #082180, 0 0 2vw #082180, 0 0 .2vw #082180, .2vw .2vw .1vw #0A3940;
    color: #146C80;
  }
} */


