.page {
  padding: 2rem 2rem 2rem 4rem;
  max-width: 1000px;
  margin: 2rem auto;
  text-align: left;
}

@media only screen and (max-width: 1200px) {
  .page {
    max-width: 800px;
    padding: 2rem 1.25rem 2rem 1.25rem;
  }
}

@media only screen and (max-width: 1100px) {
  .page {
    max-width: 700px;
    padding: 2rem 1.25rem 2rem 1.25rem;
  }
}

@media only screen and (max-width: 1000px) {
  .page {
    max-width: 600px;
    padding: 2rem 1.25rem 2rem 1.25rem;
  }
}

@media only screen and (max-width: 900px) {
  .page {
    max-width: 500px;
    padding: 2rem 1.25rem 2rem 1.25rem;
  }
}

@media only screen and (max-width: 768px) {
  .page {
    max-width: 100vw;
  }
}

.resourceHub {
  padding: 40px;
  max-width: 800px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.title {
  font-size: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  position: relative; /* Ensures Flip animations work properly */
}

@media only screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.listView {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  position: relative; /* Ensures elements animate correctly */

  display: flex;
  flex-direction: column;
  /* background: white; */
  padding-bottom: 10px;
  border-bottom: 1px solid var(--dark-navy-80);
  /* transition: transform 0.3s ease-in-out; */
  text-decoration: none;
  color: inherit;
  margin-bottom: 30px;
}

.listView .card {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.image {
  width: auto;
  height: 250px;
  border-radius: 8px;
}

@media only screen and (max-width: 1200px) {
  .image {
    height: 200px;
  }
}

@media only screen and (max-width: 1000px) {
  .image {
    width: 100%;
    height: auto;
  }
}

.listView .image {
  height: 100px;
  width: auto;
  border-radius: 8px;
  margin-right: 0.75rem;
}

@media only screen and (max-width: 900px) {
  .listView .image {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .listView .image {
    display: flex;
    height: 100px;
  }
}

@media only screen and (max-width: 530px) {
  .listView .image {
    display: none;
  }
}

.resourceTitle {
  font-size: 1.2rem;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

.listView .resourceTitle {
  width: 400px;
  margin: 0;
}

@media only screen and (max-width: 1100px) {
  .listView .resourceTitle {
    width: 300px;
  }
}

@media only screen and (max-width: 1000px) {
  .listView .resourceTitle {
    width: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .listView .resourceTitle {
    width: 100%;
  }
}

.date {
  font-size: 16px;
  color: #666;
  margin-bottom: 1rem;
}

.listView .date {
  margin-bottom: 0;
}

.formatButton {
  padding: 5px 10px;
  margin: 0 0.5rem;
  background-color: var(--vibrant-orange);
  color: var(--warm-beige);
  width: fit-content;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.formatButton:hover {
  background-color: var(--vibrant-orange);
}

.arrow {
  align-self: flex-end;
  font-size: 20px;
  cursor: pointer;
}

.icon {
  width: 40px;
  height: 40px;
}

.listView .arrow {
  align-self: center;
}
