.resourceHub {
  padding: 40px;
  max-width: 800px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 28px;
  font-weight: bold;
}

.toggleButton {
  padding: 8px 12px;
  border: none;
  background-color: #0070f3;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.toggleButton:hover {
  background-color: #005bb5;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  position: relative; /* Ensures Flip animations work properly */
}

.listView {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  position: relative; /* Ensures elements animate correctly */

  display: flex;
  flex-direction: column;
  /* background: white; */
  padding-bottom: 10px;
  border-bottom: 1px solid var(--dark-navy-80);
  /* transition: transform 0.3s ease-in-out; */
  text-decoration: none;
  color: inherit;
  margin-bottom: 30px;
}

.listView .card {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.image {
  width: auto;
  height: 250px;
  border-radius: 8px;
}

.listView .image {
  height: 100px;
  width: auto;
  border-radius: 8px;
}

.resourceTitle {
  font-size: 18px;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

.listView .resourceTitle {
  width: 400px;
  margin: 0;
}

.date {
  font-size: 16px;
  color: #666;
  margin-bottom: 1rem;
}


.listView .date {
  margin-bottom: 0;
}

.formatButton {
  padding: 5px 10px;
  background-color: var(--vibrant-orange);
  color: var(--warm-beige);
  width: fit-content;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.formatButton:hover {
  background-color: var(--vibrant-orange);
}



.arrow {
  align-self: flex-end;
  font-size: 20px;
  cursor: pointer;
}

.icon {
  width: 40px;
  height: 40px;
}

.listView .arrow {
  align-self: center;
}
