:root {
  --warm-beige: #FDF2DE;
  --warm-beige-20: #FAEBD1;
  --warm-beige-40: #F7E5C4;
  --warm-beige-60: #FEFAF2;
  --warm-beige-80: #F6F4F0;

  --soft-teal: #6CAC9F;
  --vibrant-orange: #FC6415;
  --deep-teal: #16545E;

  --dark-navy: #103236;
  --dark-navy-20: #3B4F52;
  --dark-navy-40: #667C7E;
  --dark-navy-60: #91A9AA;
  --dark-navy-80: #BCC6C6;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--deep-teal);
  background-color: var(--warm-beige-80);
  font-family: var(--font-josefinSans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid green; */
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  font-family: var(--font-inter);
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--deep-teal);
  font-family: var(--font-fonseca-medium);
}

h1 {
  font-size: 2rem;
}

p {
  font-family: var(--font-josefinSans);
  color: var(--deep-teal);
  font-size: 1.2rem;
  line-height: 1.6;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
