:root {
  --shapehr-font: "DM Sans", sans-serif;
  --shapehr-gray: #7a838b;
  --shapehr-gray-rgb: 122, 131, 139;
  --shapehr-light-gray: #e8e9ea;
  --shapehr-white: #ffffff;
  --shapehr-white-rgb: 255, 255, 255;
  --shapehr-black: #00294b;
  --shapehr-black-rgb: 0, 41, 75;
  --shapehr-base: #0575bc;
  --shapehr-base-rgb: 5, 117, 188;
}

.row {
  --bs-gutter-x: 30px;
}

.gutter-y-30 {
  --bs-gutter-y: 30px;
}

body {
  font-family: var(--shapehr-font);
  color: var(--shapehr-gray);
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
}

a {
  color: var(--shapehr-white);
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--shapehr-black);
  margin: 0;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}